<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background: url(/assets/img/slide/susi1.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">[[${info.title1}]]</h2>
                            <p class="animate__animated animate__fadeInUp">[[${info.content1}]]</p>
                            <div>
                                <a th:href="@{/susi/subpage#book-a-table}" class="btn-menu animate__animated animate__fadeInUp scrollto">예약하기</a>
                                <a th:href="@{/susi/listpage#specials}" class="btn-book animate__animated animate__fadeInUp scrollto">예약내역</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background: url(/assets/img/slide/susi2.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">[[${info.title2}]]</h2>
                            <p class="animate__animated animate__fadeInUp">[[${info.content2}]]</p>
                            <div>
                                <a th:href="@{/susi/subpage#book-a-table}" class="btn-menu animate__animated animate__fadeInUp scrollto">예약하기</a>
                                <a th:href="@{/susi/listpage#specials}" class="btn-book animate__animated animate__fadeInUp scrollto">예약내역</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background: url(/assets/img/slide/susi3.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">[[${info.title3}]]</h2>
                            <p class="animate__animated animate__fadeInUp">[[${info.content3}]]</p>
                            <div>
                                <a th:href="@{/susi/subpage#book-a-table}" class="btn-menu animate__animated animate__fadeInUp scrollto">예약하기</a>
                                <a th:href="@{/susi/listpage#specials}" class="btn-book animate__animated animate__fadeInUp scrollto">예약내역</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

<!--            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">-->
<!--                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>-->
<!--            </a>-->

<!--            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">-->
<!--                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>-->
<!--            </a>-->

        </div>
    </div>
</th:block>